<div class="header">
<div class="titleLogo">
  <img id="headerLogo" src="../images/logo.png" height="50px" width="50px" alt="">
  <h1 id="headerTitle"><a id="headerTitle" href="/">Movie Tracker</a></h1>
  <img id="headerLogo" src="../images/logo.png" height="50px" width="50px" alt="">
</div>
<div class="flexContainer">
  <div class="headerContainer">
    <form class="addNew" action="/">
      <button type="submit">Home</button>
    </form>
    <form class="addNew" action="/movies/new">
      <button type="submit">Add a New Entry to Your Library</button>
    </form>
    <form action="/sessions/?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
    </form>
  </div>
</div>
</div>
