<div class="header">
  <div class="container">
  <img id="headerLogo" src="../images/logo.png" height="50px" width="50px" alt="">
  <h1 id="headerTitle"><a href="/">Movie Tracker</a></h1>
  <img id="headerLogo" src="../images/logo.png" height="50px" width="50px" alt="">
  <h1>Welcome To Movie Tracker</h1>
</div>
</div>
