input {
  resize: horizontal;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* input:active {
  width: auto;
}

input:focus {
  min-width: 100%;
} */

img {
  border-radius: 6px;
}

.addNew {
  display: block;
  margin-right: 10em;
  color: red;
}
