<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('../partials/head.ejs') %>

<body>
  <%- include ('../partials/loginheader.ejs') %>

  <div class="container">

    <h5>Movie tracker is designed to help you keep a catalog of all of your favorite Movies and Shows for easy reference in the future! </h5>
    <h5>Always have an answer when someone asks you what to watch!</h5>
    <div class="loginPage">
      <h4 id="create">Create an Account</h4>
      <form action="/users/" method="POST">
        <input type="text" name="firstName" placeholder="First Name" required>
        <input type="text" name="username" placeholder="Username" minlength="5" required>
        <input type="password" name="password" placeholder="Password" minlength="6" required> <br>
        <input type="submit" value="Submit"></input>
      </form>
      <form class="bottomButton"action="/sessions/new" method="GET">
        <input type="submit" value="Existing User"></input>
      </form>
    </div>

  </div>

</body>

</html>
